/*
    TODO: update styles!
*/

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.wrapper {
  margin: 0;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.header {
  height: 72px;
  font-size: 32px;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 16px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.game-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.gameboard {
  background: url('svg/board.svg');
  background-repeat: no-repeat;
  display: grid;
  grid-template-rows: repeat(3, auto [row]);
  grid-template-columns: repeat(3, auto [col]);
  width: 300px;
  height: 300px;
}

.cell {
  background-position-x: center;
  background-position-y: center;
  background-size: 60%;
  background-repeat: no-repeat;
}

.tic {
  background-image: url('svg/tic.svg');
}

.tac {
  background-image: url('svg/tac.svg');
}

.footer {
  position: fixed;
  bottom: 0;
  right: 0;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.my-github {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}
